.team__section {
  margin-top: 150px;
  height: 835px;
  background: url("./images/team_bg.png") 50% 0% no-repeat;
  background-size: cover;
}

.team__section > .container {
  position: relative;
}

.team__section__content {
  max-width: 542px;
  width: 100%;
  padding-top: 230px;
  padding-bottom: 135px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.content__title {
  margin-bottom: 22px;
}

.content__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--lightblue);
}

.content__action__btn {
  margin-top: 45px;
  padding: 15px 31px 14px 30px;
}


/* Members positions */
.team__members__list .member1 {
  top: 37%;
  left: 1.7%;
}

@media all and (max-width:767px) {
  .team__members__list .member1 {
    top: 15%;
    left: 1.7%;
  }
}

.team__members__list .member2 {
  top: 84%;
  left: 1.2%;
}

.team__members__list .member3 {
  top: 102%;
  right: 31.5%;
}

.team__members__list .member4 {
  top: 81%;
  right: 1.7%;
}

.team__members__list .member5 {
  top: 26%;
  right: 0;
}

@media all and (max-width:767px) {
  .team__members__list .member5 {
    top: 10%;
  }
}