.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  transition: all, 300ms ease;
}

.button:hover {
  cursor: pointer;
}

.button__primary {
  background: var(--accent);
  color: var(--white);
}

.button__primary:hover {
  background: var(--accent-darker);
}

.button__outline {
  background: var(--white);
  color: var(--darkblue);
  border: 1px solid #bcd0e5;
}

.button__outline:hover {
  background: var(--darkblue);
  color: var(--white);
  border: 1px solid #bcd0e5;
}

.button__size__s {
  padding: 11px 24px;
}

.button__size__m {
  padding: 14px 41px;
}

.button__outline,
.button__size__s {
  padding-top: 10px;
  padding-bottom: 10px;
}
