.header {
  padding-top: 35px;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: 7px;
}

.header__nav {
  display: none;
}

@media all and (min-width: 1200px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}

.header__nav__list li {
  margin: 0 13px;
}

.header__nav__list li:first-child {
  margin-left: 0;
}

.header__nav__list li:last-child {
  margin-right: 0;
}

.header__nav__list li a {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: var(--black);
}

.header__nav__list li a:hover {
  color: var(--accent);
}

.header__nav__list,
.header__nav__buttons {
  display: flex;
}

.header__nav__buttons {
  margin-right: 8px;
  margin-left: 50px;
}

.header__nav__buttons li:first-child {
  margin-right: 7px;
}

.header__nav__buttons li:last-child {
  margin-left: 7px;
}
