.story__slide {
  max-width: 345px;
}

@media all and (max-width: 991px) {
  .story__slide {
    width: calc(100% - 20px);
  }

  .slick-slide > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 992px) {
  .story__slide {
    width: calc(100% - 30px);
  }
}

.story__preview {
  display: block;
  margin-bottom: 25px;
}

.story__preview > img {
  border-radius: 8px 8px 0 0;
}

.story__slide:hover .story__title a {
  color: var(--accent);
}

.story__meta_box {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--brown);
  margin-bottom: 12px;
}

.story__author {
  margin-right: 5px;
}

.story__author::after {
  padding-left: 5px;
  content: "|";
  color: var(--brown);
  display: inline-block;
}

.story__title a {
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  color: var(--black-brown);
}

.story__title a:hover {
  color: var(--accent);
}
