@import "./normalize";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --brown: #544837;
  --black-brown: #2f281e;
  --accent: #ff9900;
  --accent-darker: #e68a00;
  --darkblue: #173a56;
  --redlight: #ff4e4a;

  --text-shadow-default: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.App {
  min-height: 100vh;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

@media all and (max-width: 1199px) {
  .container {
    width: 960px;
  }
}

@media all and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

body {
  font-family: Poppins, sans-serif;
}

/* Images responsive */
.img__responsive {
  width: 100%;
  height: auto;
  display: block;
}

/* Form */
.error__label {
  font-size: 12px;
  color: var(--redlight);
  display: block;
  margin: 8px 0 10px 0;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: 1px solid var(--accent);
  border-radius: 4px;
}

/* Typography */
.content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  color: var(--black-brown);
  text-shadow: var(--text-shadow-default);
}
